<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="main.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e89ad7a8aa.js" crossorigin="anonymous"></script>
    <title>Now song project</title>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="titleAndBtn">
            <i class="fas fa-bars"></i>
            <span class="title">Now song</span>
        </div>
        <div class="icons">
            <i class="fas fa-search"></i>
            <i class="fas fa-sign-in-alt"></i>
        </div>
    </header>

    <main>
        <!-- Weather info -->
        <section class="weatherInfo">
            <span class="textContent">화창한 봄날, 지금 이 노래 어때요?</span>
            <div class="weatherData">
                <span class="location">Seoul, Korea</span>
                <span class="temp">+ 27°</span>
                <span class="cast">Sunny</span>
            </div>
            <div class="timeData">
                <span class="week">Friday</span>
                <span class="date">April, 14</span>
                <span class="time">4:20 p.m.</span>
            </div>
        </section>
    
        <!-- Music Player -->
        <section class="player">
            <div class="playerImg">
                <img class="album-art" src="img/albumcover.jpg" alt="album cover image">
                <img class="vinyl" src="img/vinyl.png" alt="vinyl image">
            </div>
            <div class="infoAndBtn">
                <div class="info">
                    <span class="artistName">Dua Lipa</span>
                    <span class="musicTitle">Break My Heart</span>
                </div>
                <div class="Btn">
                    <button><i class="fas fa-plus"></i></button>
                    <button><i class="far fa-heart"></i></button>
                </div>
            </div>
            <div class="playerBar">
                <span class="cur-time">1:32</span>
                <span class="length">3:45</span>
                <div class="progressBar">
                    <div class="bar"></div>
                </div>
            </div>
            <div class="playControls">
                <button class="play-prev"><i class="fas fa-chevron-left"></i></button>
                <button class="play-and-pause"><i class="fas fa-play"></i></button>
                <button class="play-next"><i class="fas fa-chevron-right"></i></button>
            </div>
        </section>
    
        <!-- Up next -->
        <section class="upNext">
            <div class="curAlbum">
                <img class="vinyl" src="img/vinyl.png" alt="">
                <img class="cur-album-art" src="img/albumcover.jpg" alt="">
            </div>
            <div class="nextAlbum">
                <img class="nextAlbum" src="img/nextalbumcover.png" alt="">
            </div>
            <div class="albumInfo">
                <span class="artistName">Dua Lipa</span>
                <span class="albumName">Future Nostalgia</span>
                <span class="releaseYear">2020</span>
            </div>
        </section>

    </main>
    
</body>
</html>