/* .header {
	 background: gray;
	 height: 5rem;
	 display: flex;
	 align-items: center;
}

.header .logo {
	 color: white;
	 font-weight: 800;
	 font-size: 1.5rem;
	 cursor: pointer;
	 margin-left: 1rem;
	 user-select: none;
}

.header .logout {
	 margin-left: auto;
	 margin-right: 1rem;
	 color: white;
	 font-weight: 800;
	 font-size: 2rem;
	 cursor: pointer;
} */

:root {
    /* Color */
    --white-color: #fcfefc;
    --black-color: ##0f0a20;
    --grey-light-color: #f5f5f6;
    --grey-dark-color: #e1e2e1;

    /* Gradient color */
    --JShine-1: #12c2e9;
    --JShine-2: #c471ed;
    --JShine-3: #f64f59;
    --Amin-1: #8E2DE2;
    --Amin-2: #4A00E0;

    /* Size */
    --spacing: 12px;
    --spacing-largest: 40px;
    --spacing-large: 24px;
    --spacing-small: 6px;
    --avatar-size: 36px;
    --vinyl-large: 100px;

    /* Box size */
    --w-box: 20vw;
    --p-box: 60vw;
    --n-box: 20vw;

    /* Font Size */
    --font-largest: 30px;
    --font-large: 20px;
    --font-regular: 16px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

}


* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', 'Noto Sans KR',sans-serif;

	background-color:var(--JShine-2);   
	color: var(--white-color);
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}


.header {
	display: flex;
    justify-content: space-between;
    padding: var(--spacing);
}

header .titleAndBtn {
	font-size: var(--font-large);
	display: flex;
	align-items: center;
}

header .titleAndBtn .bar {
    margin-right: var(--spacing);
}

header .icons, header .icons .search {
	display: flex;
	align-items: center;
}
header .icons button, header .icons .search .seachBtn {
    font-size: var(--font-large);
}

header .icons .login {
    font-size: var(--font-regular);
    margin-left: var(--spacing);
}
header .icons .search .searchBtn {
    margin-left: 10px;
}
header .icons .search .searchBtn :hover {
    color: var(--grey-dark-color);
}
header .icons .search .searchInput {
    width: 250px;
    height: 25px;
    background-color: var(--white-color);
    opacity: 0.7;
    border-radius: 25px;
    border: none;
} 
header .icons .search .searchInput:focus {
    outline: none;
}